body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background: linear-gradient( white, grey);
    color: black;
    border: thin red inset;
    margin: 20px 30px;
    padding: 10px 20px;
}

section {
    width: 100%;
    border: thin solid black;
}

figure.picture {
    width: 40%;
    border: thin #CAA893 inset;
    float: left;

}

figure.discription {
    width: 40%;
    border: thin #CAA893 inset;
    float: left;
}

section h1 {
    text-align: center;
}

img {
    max-width: 100%;
	width: 300px;
    padding: 10px;
}
footer {
    font-size: x-small;
    font-style: italic;
    background-color: #C14860;
    padding: 10px;
    clear: both;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15;
}

select {
    /* width: 100%; */
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

form {
    padding: 15px;
}